# ===============
# OntoChimpWeb for FastAPI on Azure/Linux
# Python package requirements
# 2026-08-03 SMS packages were missing and could not see error msgs
# ===============
# Web framework
fastapi
uvicorn
gunicorn
# Database
# provides mysql-connector:
mysql-connector-python # contains mysql-connector
# Configuration
python-dotenv
# Data validation
# 8/3 REMOVED: dataclasses
# later: pydantic

# recall not needed:
# os, re, collections, typing