# ===============
# OntoChimpWeb for FastAPI on Azure/Linux
# Python package requirements
# 2026-08-03 SMS packages were missing and could not see error msgs
# ===============
# Web framework
FastAPI
uvicorn
gunicorn
# Database
mysql-connector-python # contains mysql-connector
# Configuration
python-dotenv
# Data validation
pydantic

# recall not needed:
# os, re, collections, typing